@page
@model Dunca_Raul_Adrian_IE_ID_Proiect.Pages.Nobles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Noble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Noble.Name" class="control-label"></label>
                <input asp-for="Noble.Name" class="form-control" />
                <span asp-validation-for="Noble.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noble.Rank" class="control-label"></label>
                <input asp-for="Noble.Rank" class="form-control" />
                <span asp-validation-for="Noble.Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noble.Age" class="control-label"></label>
                <input asp-for="Noble.Age" class="form-control" />
                <span asp-validation-for="Noble.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noble.TerritoryID" class="control-label"></label>
                <select asp-for="Noble.TerritoryID" class ="form-control" asp-items="ViewBag.TerritoryID"></select>
                <span asp-validation-for="Noble.TerritoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
